<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">

<th:block th:fragment="ajaxLoadedContent">

	<div class="container inner" 
		style="margin-top: 120px;margin-bottom: 100px;font-family: Oswald, sans-serif;color: #12044F;font-weight: 700;">
        <div class="text-center pt-3 text-uppercase"> 
        	<h3 th:text="${'address update form'}"></h3>
            <hr>
        </div>
            
       	<div class="row mt-2">
            <div  class="col-md-6 offset-md-3 sigup_form">
            	<div class="sigup_form">
        			<form class="mt-3" method="POST" th:object="${address}" id="addressForm">
        	
        				<input type="hidden" name="addressId" th:value="${currentAddress.addressId}">
        	
        				<div class="mb-3 col-md-12">
                        	<label class="form-label" th:text="${'Address'}"></label>
                          	<input 
                          		type="text" 
                          		class="form-control" 
                          		id="address"
                          		name="address"
                          		th:placeholder="${'Enter Address'}"
                          		th:value="${currentAddress.address}" 
                          	/> 
                          	<span
								class="text-danger" id="addressError"
								th:style="${'visibility: hidden;'}"
								th:text="${'Please provide Address!'}"> 
							</span>        
                    	</div>
                    	
                    	<div class="mb-3 col-md-12">
                        	<label class="form-label" th:text="${'City'}"></label>
                          	<input 
                          		type="text" 
                          		class="form-control" 
                          		id="city"
                          		name="city"
                          		th:placeholder="${'Enter City'}"
                          		th:value="${currentAddress.city}" 
                          	/> 
                          	<span
								class="text-danger" id="cityError"
								th:style="${'visibility: hidden;'}"
								th:text="${'Please provide City!'}"> 
							</span>        
                    	</div>
                    	
                    	<div class="mb-5 col-md-12">
                        	<label class="form-label" th:text="${'Zip Code'}"></label>
                          	<input 
                          		type="text" 
                          		class="form-control" 
                          		id="zipcode"
                          		name="zipcode"
                          		th:placeholder="${'Enter Zip Code'}"
                          		th:value="${currentAddress.zipcode}" 
                          	/> 
                          	<span
								class="text-danger" id="zipcodeError"
								th:style="${'visibility: hidden;'}"
								th:text="${'Please provide Zip Code!'}"> 
							</span>        
                    	</div>
                    	
                    	<div class="text-center">
                    		<button class="btn-creator-dark-blue"
                    			type="submit" 
                    			th:text="${'Update'}">
							</button>
                    	</div>    
            		</form>
            	 </div>
   			</div>
   		</div>
   	</div>
    <script>
    	addressInterceptor("addressForm");
   	</script>     
</th:block>